services:
  gluetun:
    image: qmcgaw/gluetun:${GLUETUN_VER}
    container_name: redlib-gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    labels:
      - "com.centurylinklabs.watchtower.enable=false" # Don't let watchtower auto-update
      - "nautical-backup.group=redlib"
      - "nautical-backup.group.redlib.priority=101"
    ports:
      - 8889:8888/tcp # HTTP proxy
      - 8389:8388/tcp # Shadowsocks
      - 8389:8388/udp # Shadowsocks
      #- 8124:8000/tcp # HTTP control server
      - ${REDLIB_PORT}:8080 # port for redlib
    volumes:
      - ${BASE_DIR}/redlib-gluetun:/gluetun
    environment:
      - PUID=1000
      - PGID=1000
      - VPN_SERVICE_PROVIDER=private internet access
      - VPN_TYPE=openvpn
      - OPENVPN_USER=${OPENVPN_USER}
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
      - SERVER_REGIONS=${SERVER_REGIONS} 
      - TZ=America/New_York
      - HTTPPROXY=off #change to on if you wish to enable
      - SHADOWSOCKS=off #change to on if you wish to enable
      - FIREWALL_OUTBOUND_SUBNETS=172.20.0.0/16,192.168.1.0/24 #change this in line with your subnet see note on guide.
      #- FIREWALL_VPN_INPUT_PORTS=40312 #uncomment this line and change the port as per the note on the guide
      #- HTTP_CONTROL_SERVER_LOG=on
      #- HTTP_CONTROL_SERVER_ADDRESS=:8000
      - UPDATER_PERIOD=24h #update the servers information for the currently in-use VPN service provider.
    restart: unless-stopped
    
  redlib:
    #image: ghcr.io/cycneuramus/containers:redlib
    image: quay.io/redlib/redlib:${REDLIB_VER}
    restart: always
    container_name: redlib
    network_mode: service:gluetun # run on the vpn network
    user: nobody
    read_only: true
    security_opt:
      - no-new-privileges:true
      # - seccomp=seccomp-redlib.json
    cap_drop:
      - ALL
    labels:
      - "com.centurylinklabs.watchtower.enable=false" # Don't let watchtower auto-update
      - "nautical-backup.group=redlib"
      - "nautical-backup.group.redlib.priority=100"
    environment:
      # Redlib configuration
      # See the Configuration section of the README for a more detailed explanation of these settings.
      
      # Instance-specific settings
      # Enable SFW-only mode for the instance
      - REDLIB_SFW_ONLY=off
      # Set a banner message for the instance
      - REDLIB_BANNER=
      # Disable search engine indexing
      - REDLIB_ROBOTS_DISABLE_INDEXING=off
      # Set the Pushshift frontend for "removed" links
      - REDLIB_PUSHSHIFT_FRONTEND=undelete.pullpush.io
      
      # Default user settings
      # Set the default theme (options: system, light, dark, black, dracula, nord, laserwave, violet, gold, rosebox, gruvboxdark, gruvboxlight)
      - REDLIB_DEFAULT_THEME=dark
      # Set the default front page (options: default, popular, all)
      - REDLIB_DEFAULT_FRONT_PAGE=default
      # Set the default layout (options: card, clean, compact)
      - REDLIB_DEFAULT_LAYOUT=card
      # Enable wide mode by default
      - REDLIB_DEFAULT_WIDE=off
      # Set the default post sort method (options: hot, new, top, rising, controversial)
      - REDLIB_DEFAULT_POST_SORT=hot
      # Set the default comment sort method (options: confidence, top, new, controversial, old)
      - REDLIB_DEFAULT_COMMENT_SORT=confidence
      # Enable blurring Spoiler content by default
      - REDLIB_DEFAULT_BLUR_SPOILER=off
      # Enable showing NSFW content by default
      - REDLIB_DEFAULT_SHOW_NSFW=${REDLIB_DEFAULT_SHOW_NSFW}
      # Enable blurring NSFW content by default
      - REDLIB_DEFAULT_BLUR_NSFW=${REDLIB_DEFAULT_BLUR_NSFW}
      # Enable HLS video format by default
      - REDLIB_DEFAULT_USE_HLS=off
      # Hide HLS notification by default
      - REDLIB_DEFAULT_HIDE_HLS_NOTIFICATION=off
      # Disable autoplay videos by default
      - REDLIB_DEFAULT_AUTOPLAY_VIDEOS=off
      # Define a default list of subreddit subscriptions (format: sub1+sub2+sub3)
      - REDLIB_DEFAULT_SUBSCRIPTIONS=${REDLIB_DEFAULT_SUBSCRIPTIONS}
      # Define a default list of subreddit filters (format: sub1+sub2+sub3)
      - REDLIB_DEFAULT_FILTERS=
      # Hide awards by default
      - REDLIB_DEFAULT_HIDE_AWARDS=off
      # Hide sidebar and summary
      - REDLIB_DEFAULT_HIDE_SIDEBAR_AND_SUMMARY=off
      # Disable the confirmation before visiting Reddit
      - REDLIB_DEFAULT_DISABLE_VISIT_REDDIT_CONFIRMATION=off
      # Hide score by default
      - REDLIB_DEFAULT_HIDE_SCORE=off
      # Enable fixed navbar by default
      - REDLIB_DEFAULT_FIXED_NAVBAR=on
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "--tries=1", "http://localhost:8080/settings"]
      interval: 5m
      timeout: 3s
      start_period: 30s

