# see: https://github.com/qdm12/gluetun/discussions/2201 "gluetun as tailscale exit node"
services:
  # For additional VPN service providers, see: https://github.com/qdm12/gluetun-wiki
  gluetun:
    image: qmcgaw/gluetun
    restart: unless-stopped
    container_name: tailscale-gluetun
    ports:
      - 8888:8888/tcp # HTTP proxy
      - 8388:8388/tcp # Shadowsocks
      - 8388:8388/udp # Shadowsocks
      - 8125:8000/tcp # needed for homepage widget
    volumes:
      - ${BASE_DIR}/tailscale-gluetun:/gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - PUID=1000
      - PGID=1000
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
      - VPN_TYPE=openvpn
      - OPENVPN_USER=${OPNVPN_USER}
      - OPENVPN_PASSWORD=${OPNVPN_PASSWORD}
      - SERVER_REGIONS=${SERVER_REGIONS}
      - TZ=America/New_York
      - HTTPPROXY=off #change to on if you wish to enable
      - SHADOWSOCKS=on #change to on if you wish to enable
      - FIREWALL_OUTBOUND_SUBNETS=172.20.0.0/16,192.168.1.0/24 #change this in line with your subnet see note on guide.
#      - FIREWALL_VPN_INPUT_PORTS=40312 #uncomment this line and change the port as per the note on the guide
      - HTTP_CONTROL_SERVER_LOG=on
      - HTTP_CONTROL_SERVER_ADDRESS=:8000
      - UPDATER_PERIOD=24h #update the servers information for the currently in-use VPN service provider.
      - DNS_ADDRESS=${DNS_ADDRESS}
    labels:
      - "nautical-backup.group=tailscale-vpn-exit-node"
      - "nautical-backup.group.tailscale-vpn-exit-node.priority=101"

  tailscale-vpn-exit-node:
    image: tailscale/tailscale:latest
    container_name: tailscale-vpn-exit-node
    network_mode: service:gluetun
    environment:
      #- TS_AUTHKEY=${TS_AUTHKEY}
      - TS_EXTRA_ARGS=--advertise-exit-node --accept-routes # or --advertise-tags=tag:vpn
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_HOSTNAME=npm-vpn-exit
      - TS_ROUTES=192.168.1.0/24
    volumes:
      - ${BASE_DIR}/tailscale-vpn-exit-node:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - NET_RAW
    restart: unless-stopped
    depends_on:
      gluetun:
        condition: service_healthy
    labels:
      - "nautical-backup.group=tailscale-vpn-exit-node"
      - "nautical-backup.group.tailscale-vpn-exit-node.priority=100"
